#ifndef SECRETS_H
#define SECRETS_H

const char* ssid = "YOUR_SSID";
const char* password = "YOUR_PASSWORD";
const char* mqttServer = "YOUR_ENDPOINT-ats.iot.us-east-1.amazonaws.com";
const int mqttPort = 8883;
const char* thingName = "esp32-sensor";
const char* publishTopic = "esp32/sensor/distance";

const char* rootCA = R"EOF(
-----BEGIN CERTIFICATE-----
PASTE AmazonRootCA1.pem CONTENTS HERE
-----END CERTIFICATE-----
)EOF";

const char* clientCert = R"EOF(
-----BEGIN CERTIFICATE-----
PASTE cert.pem CONTENTS HERE
-----END CERTIFICATE-----
)EOF";

const char* privateKey = R"EOF(
-----BEGIN RSA PRIVATE KEY-----
PASTE private.key CONTENTS HERE
-----END RSA PRIVATE KEY-----
)EOF";

#endif
